<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-kiosk" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Kiosk</name>

    <js-module name="Kiosk" src="www/Kiosk.js">
        <clobbers target="Kiosk" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Kiosk">
                <param name="android-package" value="cordova.plugin.kiosk.Kiosk" />
            </feature>
        </config-file>

       <config-file parent="./application/activity/[@android:name='MainActivity']" target="AndroidManifest.xml">
            <intent-filter android:autoVerify="true">
                <category android:name="android.intent.category.HOME" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
                <uses-permission android:name="android.permission.REORDER_TASKS"/>
        </config-file>

        
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/Kiosk.java" target-dir="src/cordova/plugin/kiosk/Kiosk" />
    </platform>
</plugin>